<div class="row">
    <div class="col-12">
        <h1>聯邦美術比賽資料確認</h1>
        <!-- 個人資料 -->
        <h2>個人資料</h2>
        <div class="userData">
            <ul class="formList checkTable">
                <li class="form-group">
                    <label class="control-label">比賽項目</label>
                    <div class="checkData">聯邦美術新人獎</div>
                </li>
                <li class="form-group">
                    <label for="userName" class="control-label">中文姓名</label>
                    <div class="checkData">王小明</div>
                </li>
                <li class="form-group">
                    <label for="userNameEN" class="control-label">護照名字</label>
                    <div class="checkData">WANG,HSIAO-MING</div>
                </li>
                <li class="form-group">
                    <label class="control-label">性別</label>
                    <div class="checkData">男</div>
                </li>
                <li class="form-group">
                    <label for="userID" class="control-label">身份證號</label>
                    <div class="checkData">A123456789</div>
                </li>
                <li class="form-group">
                    <label for="userBirth" class="control-label">出生年月日</label>
                    <div class="checkData">1991-04-17</div>
                </li>
                <li class="form-group">
                    <label for="userLine" class="control-label">LINE ID</label>
                    <div class="checkData">ubart</div>
                </li>
                <li class="form-group">
                    <label for="userPhone" class="control-label">
                        連絡電話
                    </label>
                    <div class="checkData">0912345678</div>
                </li>
                <li class="form-group">
                    <label for="userMail" class="control-label">電子信箱</label>
                    <div class="checkData">ABC@gmail.com</div>
                </li>
                <li class="form-group address">
                    <label class="control-label">通訊地址</label>
                    <div class="checkData">台北市中山區中山北路二段83號7樓</div>
                </li>
                <li class="form-group address">
                    <label class="control-label">戶籍地址</label>
                    <div class="checkData">台北市中山區中山北路二段83號7樓</div>
                </li>
            </ul>
        </div>
        <hr>
        <!-- 現職/學歷/參展經驗 -->
        <h2>現職/學歷/參展經驗</h2>
        <div class="userData">
            <ul class="formList checkTable">
                <li class="form-group">
                    <label class="control-label">學校/機構名稱</label>
                    <div class="checkData">幸福大學美術系</div>
                </li>
                <li class="form-group">
                    <label for="userName" class="control-label">參展經驗</label>
                    <div class="checkData">2019王小明個展/2020聯展</div>
                </li>
            </ul>
        </div>
        <hr>
        <!-- 參賽作品資料 -->
        <h2>參賽作品資料</h2>

        <ul class="nav nav-pills mb-3 workTab" id="pills-tab" role="tablist">
            <li class="nav-item">
                <a class="nav-link active" id="workOneTab" data-toggle="pill" href="#workOne" role="tab" aria-controls="workOne" aria-selected="true">作品一</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="workTwoTab" data-toggle="pill" href="#workTwo" role="tab" aria-controls="workTwo" aria-selected="false">作品二</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="workThreeTab" data-toggle="pill" href="#workThree" role="tab" aria-controls="workThree" aria-selected="false">作品三</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="workFourTab" data-toggle="pill" href="#workFour" role="tab" aria-controls="workFour" aria-selected="false">作品四</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="workFiveTab" data-toggle="pill" href="#workFive" role="tab" aria-controls="workFive" aria-selected="false">作品五</a>
            </li>
        </ul>
        <div class="tab-content" id="pills-tabContent">
            <div class="tab-pane fade show active" id="workOne" role="tabpanel" aria-labelledby="workOneTab">
                <div class="userData">
                    <ul class="formList checkTable">
                        <li class="form-group">
                            <label class="control-label">畫作名稱</label>
                            <div class="checkData">牧牛</div>
                        </li>
                        <li class="form-group">
                            <label for="userName" class="control-label">畫作檔案</label>
                            <div class="checkData">
                                <img src="~/images/imgExample.jpg">
                            </div>
                        </li>
                        <li class="form-group">
                            <label class="control-label">創作理念</label>
                            <div class="checkData">逆光打在草原，讓翠綠的世界泛白，為了讓畫面更有光的感覺，讓遠方的顏色淡化，與天空相近，表達光穿透樹梢，最後抵達照射在聚散各處牛隻身上的景象。</div>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="tab-pane fade" id="workTwo" role="tabpanel" aria-labelledby="workTwoTab">
                <div class="userData">
                    <ul class="formList checkTable">
                        <li class="form-group">
                            <label class="control-label">畫作名稱</label>
                            <div class="checkData">牧羊</div>
                        </li>
                        <li class="form-group">
                            <label for="userName" class="control-label">畫作檔案</label>
                            <div class="checkData">
                                <img src="~/images/imgExample_2.jpg">
                            </div>
                        </li>
                        <li class="form-group">
                            <label class="control-label">創作理念</label>
                            <div class="checkData">創作理念二創作理念二，創作理念二創作理念二創作理念二創作理念二，創作理念二創作理念二。</div>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="tab-pane fade" id="workThree" role="tabpanel" aria-labelledby="workThreeTab">
                <div class="userData">
                    <ul class="formList checkTable">
                        <li class="form-group">
                            <label class="control-label">畫作名稱</label>
                            <div class="checkData">牧草</div>
                        </li>
                        <li class="form-group">
                            <label for="userName" class="control-label">畫作檔案</label>
                            <div class="checkData">
                                <img src="~/images/imgExample.jpg">
                            </div>
                        </li>
                        <li class="form-group">
                            <label class="control-label">創作理念</label>
                            <div class="checkData">創作理念三創作理念三創作理念三創作理念三創作理念三，創作理念三創作理念三，創作理念三創作理念三創作理念三創作理念三。</div>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="tab-pane fade" id="workFour" role="tabpanel" aria-labelledby="workFourTab">
                <div class="userData">
                    <ul class="formList checkTable">
                        <li class="form-group">
                            <label class="control-label">畫作名稱</label>
                            <div class="checkData">牧童</div>
                        </li>
                        <li class="form-group">
                            <label for="userName" class="control-label">畫作檔案</label>
                            <div class="checkData">
                                <img src="~/images/imgExample.jpg">
                            </div>
                        </li>
                        <li class="form-group">
                            <label class="control-label">創作理念</label>
                            <div class="checkData">創作理念四創作理念四創作理念四創作理念四創作理念四，創作理念四創作理念四，創作理念四創作理念四創作理念四創作理念四。</div>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="tab-pane fade" id="workFive" role="tabpanel" aria-labelledby="workFiveTab">
                <div class="userData">
                    <ul class="formList checkTable">
                        <li class="form-group">
                            <label class="control-label">畫作名稱</label>
                            <div class="checkData">牧笛</div>
                        </li>
                        <li class="form-group">
                            <label for="userName" class="control-label">畫作檔案</label>
                            <div class="checkData">
                                <img src="~/images/imgExample_2.jpg">
                            </div>
                        </li>
                        <li class="form-group">
                            <label class="control-label">創作理念</label>
                            <div class="checkData">創作理念五創作理念五創作理念五創作理念五創作理念五，創作理念五創作理念五，創作理念五創作理念五創作理念五創作理念五。</div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="text-center">
    <button class="btn btn-primary" v-on:click="GetOtherRoute(false)" style="margin-right:10px">修改</button>
    <button class="btn btn-primary" v-on:click="GetOtherRoute(true)">完成</button>
</div>
<script type="text/javascript">
    @section Vue
    {

    const app = Vue.createApp({
        methods: {
            GetOtherRoute: function (isNext) {
                try {
                    if (isNext)
                        window.location.href = '@Url.Action("Finish", "ArtRoute")';
                    else
                        window.location.href = '@Url.Action("SignUp", "ArtRoute")';
                }
                catch (exception) {
                    console.log(exception);
                }
            }
        }
    })


    }
</script>
