<div class="row">
    <div class="col-12">
        <h1>第二十屆「聯邦美術印象大獎」簡章</h1>
        <table class="introDataTable">
            <tbody>
                <tr>
                    <td class="number">壹、</td>
                    <td>宗旨</td>
                </tr>
                <tr>
                    <td></td>
                    <td>鼓勵社會大眾從事專業藝術研究，倡導印象派自然光線之藝術創作、推展全民美育活動並提昇美術水準。</td>
                </tr>
                <tr>
                    <td class="number">貳、</td>
                    <td>活動單位</td>
                </tr>
                <tr>
                    <td></td>
                    <td>
                        主辦單位：聯邦文教基金會(以下簡稱「本會」)<br>
                        協辦單位：聯邦商業銀行(股)公司、聯邦國際租賃(股)公司、自由時報
                    </td>
                </tr>
                <tr>
                    <td class="number">參、</td>
                    <td>參賽資格</td>
                </tr>
                <tr>
                    <td></td>
                    <td>
                        <table>
                            <tr>
                                <td>一、</td>
                                <td>具中華民國國籍之藝術工作者，無參賽年齡限制。</td>
                            </tr>
                            <tr>
                                <td>二、</td>
                                <td>已獲「聯邦美術印象大獎」首獎者不得再提件參賽。</td>
                            </tr>
                        </table>
                    </td>
                </tr>
                <tr>
                    <td class="number">肆、</td>
                    <td>參賽規則</td>
                </tr>
                <tr>
                    <td></td>
                    <td>
                        <table>
                            <tr>
                                <td>一、</td>
                                <td>參賽者需同時送審五幅不同之油畫作品，送審作品於評審結果公布前不得參與其他公開競賽。</td>
                            </tr>
                            <tr>
                                <td>二、</td>
                                <td>為維持比賽之公平性，送審作品正面請勿落款。</td>
                            </tr>
                            <tr>
                                <td>三、</td>
                                <td>
                                    如有下列情事之一者，取消參賽資格，並於三年內不得參加本會舉辦之任何比賽；已獲獎者，取消獲獎資格及獎項，並賠償相關費用：
                                    <table>
                                        <tr>
                                            <td>(一)</td>
                                            <td>抄襲或臨摹他人作品。</td>
                                        </tr>
                                        <tr>
                                            <td>(二)</td>
                                            <td>作品由他人代筆或著作權取得不明確者。</td>
                                        </tr>
                                        <tr>
                                            <td>(三)</td>
                                            <td>作品曾參與任何公開競賽。</td>
                                        </tr>
                                        <tr>
                                            <td>(四)</td>
                                            <td>得獎作品不願依參賽辦法由本會典藏及展出者。</td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
                <tr>
                    <td class="number">伍、</td>
                    <td>作品規格</td>
                </tr>
                <tr>
                    <td></td>
                    <td>
                        <table>
                            <tr>
                                <td>一、</td>
                                <td>媒材：限油畫。</td>
                            </tr>
                            <tr>
                                <td>二、</td>
                                <td>形式：限印象派風格。</td>
                            </tr>
                            <tr>
                                <td>三、</td>
                                <td>規格：限30F。</td>
                            </tr>
                            <tr>
                                <td>四、</td>
                                <td>件數：每人應提供5幅。</td>
                            </tr>
                        </table>
                    </td>
                </tr>
                <tr>
                    <td class="number">陸、</td>
                    <td>參賽辦法</td>
                </tr>
                <tr>
                    <td></td>
                    <td>
                        <table>
                            <tr>
                                <td>一、</td>
                                <td>
                                    初審送件：請依下列規定提供參賽資料。
                                    <table>
                                        <tr>
                                            <td>(一)</td>
                                            <td>請進行線上報名並將作品拍攝成數位檔案(格式為jpg、2MB至5MB)上傳報名網站送審，每張作品需自行調整至正確方向 (若因檔案資料不清或模糊，將不予列入評審)。</td>
                                        </tr>
                                        <tr>
                                            <td>(二)</td>
                                            <td>參賽作品之數位檔案不得以電腦修正，若自行修正而影響評審結果，主辦單位有權取消其參賽資格。</td>
                                        </tr>
                                        <tr>
                                            <td>(三)</td>
                                            <td>報名日期：即日期至111年9月30日(星期五)止。</td>
                                        </tr>
                                        <tr>
                                            <td>(四)</td>
                                            <td>送審資料不符簡章規定者，不予審查，且送審資料一律不予退還，請自行備份留存。</td>
                                        </tr>
                                        <tr>
                                            <td>(五)</td>
                                            <td>初審結果將公佈於本會官網。</td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                            <tr>
                                <td>二、</td>
                                <td>
                                    複審送件：通過初審者，請依下列規定配合辦理。
                                    <table>
                                        <tr>
                                            <td>(一)</td>
                                            <td>須配合本會指定之日，至指定地點進行1張6號油畫創作。</td>
                                        </tr>
                                        <tr>
                                            <td>(二)</td>
                                            <td>送審作品正面請落款，並於指定日期前將參賽之5幅原件(免錶框）運送至104台北市中山北路二段83號7樓「聯邦文教基金會」參加複審，逾時未送達者視為棄權。</td>
                                        </tr>
                                        <tr>
                                            <td>(三)</td>
                                            <td>複審原件作品送至本會時，由本會發給收據存執，運費由參賽者自行負擔。</td>
                                        </tr>
                                        <tr>
                                            <td>(四)</td>
                                            <td>得獎者須以數位圖檔提供個人生活照及自畫像(媒材不限)各一張。</td>
                                        </tr>
                                        <tr>
                                            <td>(五)</td>
                                            <td>複審結果將公佈於本會官網。</td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
                <tr>
                    <td class="number">柒、</td>
                    <td>評審</td>
                </tr>
                <tr>
                    <td></td>
                    <td>
                        <table>
                            <tr>
                                <td>一、</td>
                                <td>由本會聘請各校藝術相關科系教授、學者或專家成立評審委員會，負責評審工作。</td>
                            </tr>
                            <tr>
                                <td>二、</td>
                                <td>初審以數位檔案審查為原則，選出6名入圍者，入圍者並應提送參選之5幅原件(免錶框）參與複審。</td>
                            </tr>
                            <tr>
                                <td>三、</td>
                                <td>複審從6名入圍者中選出「聯邦美術印象大獎」首獎1名、優選獎2名、入選獎2名，如無適當作品，得由評審委員會決議從缺。</td>
                            </tr>
                        </table>
                    </td>
                </tr>
                <tr>
                    <td class="number">捌、</td>
                    <td>獎勵方式</td>
                </tr>
                <tr>
                    <td></td>
                    <td>
                        <table>
                            <tr>
                                <td>一、</td>
                                <td>「聯邦美術印象大獎」首獎1名：獎金新臺幣60萬元(實領需扣10%之所得稅)、證書乙紙及獎座乙座。</td>
                            </tr>
                            <tr>
                                <td>二、</td>
                                <td>「優選獎」2名：獎金新臺幣各20萬元(實領需扣10%之所得稅)及證書乙紙。</td>
                            </tr>
                            <tr>
                                <td>三、</td>
                                <td>「入選獎」2名：獎金新臺幣各10萬元(實領需扣10%之所得稅)及證書乙紙。</td>
                            </tr>
                        </table>
                    </td>
                </tr>
                <tr>
                    <td class="number">玖、</td>
                    <td>畫作典藏</td>
                </tr>
                <tr>
                    <td></td>
                    <td>
                        <table>
                            <tr>
                                <td>一、</td>
                                <td>獲「聯邦美術印象大獎」首獎者之5幅得獎作品全數由本會典藏，典藏畫作之所有權全數歸屬本會所有。</td>
                            </tr>
                            <tr>
                                <td>二、</td>
                                <td>2名獲「優選獎」者之得獎作品，分別由評審委員會評選2幅作品由本會典藏，典藏畫作之所有權歸本會。</td>
                            </tr>
                            <tr>
                                <td>三、</td>
                                <td>2名獲「入選獎」者之得獎作品，分別由評審委員會評選2幅作品由本會典藏，典藏畫作之所有權歸屬本會所有。</td>
                            </tr>
                            <tr>
                                <td>四、</td>
                                <td>其餘得獎作品本會將依情形收購典藏，如獲本會收購典藏，其典藏畫作之所有權歸屬本會所有。</td>
                            </tr>
                        </table>
                    </td>
                </tr>
                <tr>
                    <td class="number">壹拾、</td>
                    <td>頒獎、展出與退件</td>
                </tr>
                <tr>
                    <td></td>
                    <td>
                        <table>
                            <tr>
                                <td>一、</td>
                                <td>得獎者將於民國112年1月擇期隆重表揚。</td>
                            </tr>
                            <tr>
                                <td>二、</td>
                                <td>獲典藏之作品將由本會規劃於全臺巡迴展出，本會得就各展出需要挑選展出作品。</td>
                            </tr>
                            <tr>
                                <td>三、</td>
                                <td>本會將補助入圍複審未獲獎者之作品退還運送費。</td>
                            </tr>
                        </table>
                    </td>
                </tr>
                <tr>
                    <td class="number">壹拾壹、</td>
                    <td>權責</td>
                </tr>
                <tr>
                    <td></td>
                    <td>
                        <table>
                            <tr>
                                <td>一、</td>
                                <td>基於宣傳推廣之需，本會對得獎及典藏作品均有研究、展覽、攝影、報導、印製、出版及在相關文宣、雜誌及網路上刊登之權利。</td>
                            </tr>
                            <tr>
                                <td>二、</td>
                                <td>送件作品應保證無違反第肆條參賽規則及侵害他人智慧財產權之情事，若衍生相關爭議及法律問題，參賽者應自負全責。</td>
                            </tr>
                            <tr>
                                <td>三、</td>
                                <td>複審送件之作品經本會驗收無誤，並確認未遭損毀者，本會將於複審收件日起至本比賽結束止負保管之責，惟遇人力不可抗拒情事、作品材質脆弱、結構裝置不良、裝箱作品未標示開箱圖示導致作品裝卸受損者等所致毀損，本會不負賠償之責。</td>
                            </tr>
                        </table>
                    </td>
                </tr>
                <tr>
                    <td class="number">壹拾貳、</td>
                    <td>附則</td>
                </tr>
                <tr>
                    <td></td>
                    <td>
                        <table>
                            <tr>
                                <td>一、</td>
                                <td>送件參賽者對評審結果及本會執行本簡章第壹拾壹條第一項之權利時不得有任何異議。</td>
                            </tr>
                            <tr>
                                <td>二、</td>
                                <td>本會保留隨時修改、變更、暫停或終止本比賽內容之權利，並以本會網站(https://www.ubot.org.tw)公告為準。另本簡章如有其他未盡事宜，悉依本會相關規定或解釋。</td>
                            </tr>
                        </table>
                    </td>
                </tr>
                <tr>
                    <td class="number">壹拾參、</td>
                    <td>活動報名資訊請洽聯邦文教基金會網站(https://www.ubot.org.tw)、聯邦銀行網站( https://www.ubot.com.tw )或來電洽詢(02)2536-9999。</td>
                </tr>
            </tbody>
        </table>
        <hr>
        <div class="text-center">
            <button class="btn btn-primary" v-on:click="GetOtherRoute">回首頁</button>
        </div>

    </div>
</div>

<script type="text/javascript">
    @section Vue
    {

    const app = Vue.createApp({
        methods: {
            GetOtherRoute: function () {
                try {
                    window.location.href = '@Url.Action("Index", "ArtRoute")';
                }
                catch (exception) {
                    console.log(exception);
                }
            }
        }
    })


    }
</script>
